body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background: url(https://media.istockphoto.com/id/484757150/ru/%D1%84%D0%BE%D1%82%D0%BE/%D0%B2-%D0%BC%D0%BE%D0%B7%D0%B3%D0%B0.jpg?s=1024x1024&w=is&k=20&c=u2cB8Cf75FX8nZ18GwKph_o656AfR1ISD19-o7B1iDg=) bottom no-repeat;
    background-size: auto;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    padding: 0 25px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: normal;
    text-decoration: none;
    text-transform: uppercase;
}

button {
    border-radius: 4px;
}

.btn.btn-danger {
    position: absolute;
    gap: 8px;
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    padding: 0 25px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: normal;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
}
